:root {
    --defaultwhite: #ffffff;
    --defautlfont: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

* {
    box-sizing: border-box;
    size-adjust:inherit;
    /* padding: 0;
    margin: 0; */
    flex: content;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: var(--defaultwhite);
    flex: content;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    flex-wrap: wrap;
    flex: content;
}


.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: var(--defautlfont);
    font-size: 20px;
    background-color: inherit;
    -ms-flex-item-align: inherit;
}

nav ul {
    list-style-type: none;
    flex-direction: column;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
    place-content: right;
}

a {
    color: var(--defaultwhite);
    text-decoration: none;
    flex: flex;
}

p {
    font-size: 16px;
}

.background {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-position: cover;
    position: relative;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.random {
    margin-right: 20px;
    margin-top: 20px;
    /* margin-bottom: 40px; */
    padding: 20px;
    /* clear: both; */
    float: right;
    width: 20%;
    height: max-content;
    font-family: var(--defautlfont);
    background-color: #2589bd;
    flex: content;

}

.hobbies,
.container {
    margin-bottom: 32px;
    color: var(--defaultwhite);
    padding-bottom: 12px;
    flex-wrap: inherit;
}

.container {
    border: 2px dotted white;
    background-color: orchid;
    /* margin: 20px; */
    padding: 10px;
}

.hobbies h3,
.container h3 {
    margin-bottom: 10px;
    text-align: center;
}


.hobbies img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

#fortune {
    border: 2px solid white;
    background-color: darkslateblue;
    padding: 20px;

}

.about-me,
.projects {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: var(--defautlfont);
    background-color: #0072bb;
    color: var(--defaultwhite);

}


.about-me img,
.projects img {
    max-width: 200px;
    max-height: fit-content;
}


.about-me h2,
.projects h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}