:root {
    --defaultwhite: #ffffff;
    --defautlfont: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    --headerfooterfont:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    box-sizing: border-box;
    size-adjust:inherit;
   /* padding: 0;
    margin: 0;  */
    flex: content;
}

body {
    background-color: #f8eee7;
}

header {
    padding: 20px;
    font-family: var(--headerfooterfont);
    background-color: #49274a;
    color: var(--defaultwhite);
    flex: content;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    flex-wrap: wrap;
    flex: content;
}
header img {
    display:inline;
    margin: 10px auto;
    max-width: 90px;
    flex: content;
}


header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: var(--defautlfont);
    font-size: 20px;
    background-color: inherit;
    -ms-flex-item-align: inherit;
}

nav ul {
    list-style-type: none;
    flex-direction: column;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
    place-content: right;
}

a {
    color: var(--defaultwhite);
    text-decoration: none;
    flex: flex;
}

p {
    font-size: 16px;
}

main {
    height: 100%;
    width: 100%;
    margin-bottom: 25px;
    position: relative;

} 

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

section {
    width: 75%;
    display: inline-block;
    position: relative;
    margin-left: 10px;
}

aside {
    margin-right: 20px;
    margin-top: 20px;
    /* margin-bottom: 40px; */
    padding: 10px;
    /* clear: both; */
    float: right;
    width: 20%;
    height: max-content;
    font-family: var(--defautlfont);
    background-color: #49274a;
    flex: content;
    /* box-sizing: content-box;
    background-position-x: left; */

}

summary {
    margin-bottom: 32px;
    color: var(--defaultwhite);
    padding-bottom: 12px;
    flex-wrap: inherit;
}

#container {
    border: 2px dotted #f4decb;
    background-color: rgb(104, 77, 103);
    /* margin: 20px; */
    padding: 10px;
}

summary h3 {
    margin-bottom: 10px;
    text-align: center;
    color: #f4decb;
}


summary img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

#fortune {
    border: 2px solid white;
    background-color: rgb(237, 181, 237);
    padding: 20px;

}

article {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: var(--defautlfont);
    background-color: #94618e;
    color: var(--defaultwhite);
    box-sizing: border-box;
    justify-self: left;
    

}

.technology {
    height: 500px;
    width: 100%;
    float: left;
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;
    display: block;
}

.technology_img { 
    height:fit-content;
    width: 100%;
    display: block;
    
}

article img {
    max-width: 150px;
    max-height: fit-content;
}
/* adding id for a project img to set up different paramenters to it so it's larger than others */
#horiseon-img{
    max-width: 350px;
    max-height: fit-content;
}



article h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #f4decb;
}
area img {
    display: block;
   block-size:initial;
   margin-top: 20px;
    margin-bottom: 20px;
    height: auto;

}

footer {
    padding: 20px;
    font-family: var(--headerfooterfont);
    background-color: #49274a;
    color: var(--defaultwhite);
    display: block;
}

footer nav {
    /* padding-top: 15px; */
    /* margin-right: 20px; */
    /* float: right; */
    float:inherit;
    font-family: var(--defautlfont);
    font-size: 20px;
    background-color: inherit;
    display: inherit;
}


footer h4 {
    font-size: 20px;
}