@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

:root {
    /* adding variable to consolidate repeatative code for some elements */
    --defaultwhite: #ffffff;
    --defautlfont: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;

}

* {
    box-sizing: border-box;
    size-adjust: inherit;
    flex: content;
}

body {
    /* setting up body color */
    background-color: black;
}

header {
    /* setting up header parametrs and colors */
    padding: 20px;
    font-family: 'Bruno Ace SC', cursive;
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgb(132, 132, 134) 0%, #2c1f90 54%);
    color: var(--defaultwhite);
    flex: content;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    flex-wrap: wrap;
    flex: content;
    font-family: 'Bruno Ace SC', cursive;
}

header img {
    /* setting parameters for image of the student in header */
    display: inline;
    margin: 10px auto;
    max-width: 90px;
    flex: content;
    padding-bottom: 10px;
}

h2 {
    font-family: 'Bruno Ace SC', cursive;
}

header nav {
    /* settings for navigation links for application segments */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Bruno Ace SC', cursive;
    font-size: 20px;
    background-color: inherit;
    -ms-flex-item-align: inherit;
}

nav ul {
    list-style-type: none;
    flex-direction: column;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
    place-content: right;
}

a {
    color: var(--defaultwhite);
    text-decoration: none;
    flex: flex;
}

p {
    font-size: 16px;
}

main {
    /* setting up parameters for main block of the application */
    height: 100%;
    width: 100%;
    margin-bottom: 25px;
    position: relative;

}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

section {
    /* setting parameters for all elements in these blocks of the web application */
    width: 75%;
    display: inline-block;
    position: relative;
    margin-left: 10px;


}



aside {
    /* setting parameters for all elements in side panel of the web application */
    margin-right: 20px;
    margin-top: 20px;
    padding: 10px;
    float: right;
    width: 20%;
    height: max-content;
    font-family: var(--defautlfont);
    background-color: #2c1f90;
    flex: content;



}

summary {
    /* setting parameters for all elements in these blocks of the web application */
    margin-bottom: 32px;
    color: var(--defaultwhite);
    padding-bottom: 12px;
    flex-wrap: inherit;
    padding-bottom: 20px;
}

#container {
    /* setting parameters for fortune teller part of the side panel of the web application */
    border: 2px dotted #f4decb;
    background-color: rgb(98, 95, 98);
    /* margin: 20px; */
    padding: 30px;
}

summary h3 {
    margin-bottom: 10px;
    text-align: center;
    color: var(--defaultwhite)
}


summary img {
    /* setting parameters for gif of the side panel "hobbies" */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

#fortune {
    /* setting parameters  for text widget of the fortune teller of the web application */
    border: 2px solid white;
    background-color: rgb(202, 200, 202);
    padding: 20px;


}

article {
    /* setting parameters for all elements in these blocks of the web application */
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    height: 300px;
    font-family: var(--defautlfont);
    background-color: #959495;
    color: var(--defaultwhite);
    box-sizing: border-box;
    justify-self: left;
    box-shadow: rgba(254, 254, 255, 0.25) 0px 50px 100px -20px, rgba(250, 248, 248, 0.3) 0px 30px 60px -30px, rgba(255, 255, 255, 0.35) 0px -2px 6px 0px inset;

}

article:hover {
    background-color: darkgrey;
}

.technology {
    /* adding block where i placed technology picture of the web application  and setting up this class*/
    height: 60px;
    width: 100%;
    float: left;
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;
    display: block;
}


article img {
    /* settings for about me gif */
    max-width: 150px;
    max-height: fit-content;
}

/* adding id for a project img to set up different paramenters to it so it's larger than others */
#scrummy-img {
    max-width: 350px;
    max-height: fit-content;
    padding-bottom: 30px;
}



article h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color: black;
}


footer {
    /* footer settings */
    padding: 20px;
    font-family: 'Bruno Ace SC', cursive;
    background-color: #2c1f90;
    color: var(--defaultwhite);
    display: block;
}

footer nav {

    float: inherit;
    font-family: var(--defautlfont);
    font-size: 20px;
    background-color: inherit;
    display: inherit;
}


footer h4 {
    font-size: 20px;
}